@media (max-width: 768px){
/*hero début*/
    .hero{
        background-image: url('../images/base.png');
        background-repeat: no-repeat;
        object-fit:cover;
        background-position: center;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 325px;
    }
    .hero section{
        margin: 10% 0px 0px 0px;
    }
}
video { pointer-events: none; }
