@media (max-width: 768px){
/*hero début*/
    .hero{
        border-radius: 20px;
        background-image: url('../images/base.png');
        background-repeat: no-repeat;
        object-fit:cover;
        background-position: center;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100vw;
        height: 350px;
        margin: 0px auto;
    }
    .hero div{
        width: 90%;
        margin: 30% 6% 0px 5%;
    }


}